$cell-size: 20px;
$grid-width: ($cell-size * 10) + 20;
$grid-height: ($cell-size * 20) + 40;
$grid-border: #cccccc;
$cell-border: #b1c2c6;


$colors: (
    ('color1', #c98888),
    ('color2', #8df6ff),
    ('color3', #9dff5c),
    ('color4', #00d042),
    ('color5', #5f7185)
);

@each $color, $hex in $colors {
    .#{$color} {
        background-color: #{$hex};
        border: 1px solid darken($hex, 20);
    }
}

#grid {
    width: $grid-width;
    height: $grid-height;
    border: 1px solid $grid-border;
}

.cell {
    border: 1px solid $cell-border;
    float: left;
    width: $cell-size;
    height: $cell-size;
}